<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-widht, initial-scale=1.0">
        <link rel="shortcut icon" type="imagex/png" href="Icone.ico">
        <title>Cadastro Pentecostal</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>
    </head>

    <style>
        /*Configurções padrão*/

        @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&display=swap');

        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: Alegreya Sans;
        }

        header {
            margin: 0 auto;
        }

        body {
            background: #f4a460;
            background: linear-gradient(180deg, #f4a460 0%, #ffffff 100%);
            height: 860px;
        }

        main {
            margin: 0 auto;
            width: 1200px;
            position: relative;
        }

        .casa {
            padding: 10px;
        }

        .homenzinho {
            font-weight: bold;
            font-size: 30px;
            text-align: center;
        }

        .logo {
            text-align: center;
        }

        .texto {
            padding-top: 60px;
            font-size: 40px;
        }

        .tudoo {
            margin-left: 130px;
            margin-top: 50px;
            width: 1200px;

        }

        #nome {
            width: 450px;
            height: 45px;
            border-radius: 15px;
            border: none;
            padding: 0px 20px;
            font-size: 20px;
            background-color: #ffffff;
        }


        #senha {
            width: 450px;
            height: 45px;
            border-radius: 15px;
            border: none;
            padding: 0px 20px;
            font-size: 20px;
            background-color: #ffffff;
        }

        #senha2 {
            width: 450px;
            height: 45px;
            border-radius: 15px;
            border: none;
            padding: 0px 20px;
            font-size: 20px;
            background-color: #ffffff;
        }

        #email {
            width: 450px;
            height: 45px;
            border-radius: 15px;
            border: none;
            padding: 0px 20px;
            font-size: 20px;
            background-color: #ffffff;
        }
        .botprosseguir {
            width: 250px;
            height: 50px;
            margin-top: 30px;
            margin-left: 352px;
            border: none;
            border-radius: 30px;
            background-color: #f4a460;
            font-size: 20px;
            font-weight: bold;

        }

        .btns-1 {
            display: flex;
        }

        .btns-2 {
            display: flex;
        }

        .btns-3 {
            display: flex;
        }

        .btns-4 {
            display: flex;
        }

        .btns-5 {
            display: flex;
        }

        .btns-6 {
            display: flex;
        }

        .espaco {
            position: absolute;
            margin-left: 500px;
            margin-top: -23px;
        }



        .legais {
            font-size: 20px;
            font-weight: bold;
        }

        .cadeistro {
            display: flex;
            margin-left: 509px;
            margin-top: 5px;
            text-decoration: none;
        }

        h2 {
            font-size: 21px;
            color: #000000;
        }

        h3 {
            font-size: 21px;
            margin-left: 10px;
            color: #000000;
        }

        h3:hover {
            color: #1e5aff;
        }
    </style>

    <body>
        <header class="cabecalho">
            <div class="casa">
                <ul>
                    <a href="/index">
                        <img src="Casinha.png">
                    </a>
                </ul>
            </div><br>
        </header>
    
        <main>
            <div class="logo">
                <img src="Logo.png">
            </div><br><br><br>
    
            <div class="homenzinho">
                <img src="Pesssoa.png">Tornar membro Pentecostal
            </div>
        
            <div class="tudoo">
                <form method="POST" action="/cadastro">
                    <label class="legais">Nome:</label>
                    <div class="btns-1">
                        <input type="text" name="username" placeholder="Neide Costas" id="nome">
                        <div class="espaco">
                            <label class="legais">Senha:</label><br>
                            <input type="password" name="password" placeholder="******" id="senha">
                        </div>
                    </div><br>

                    <label class="legais">Telefone ou Email:</label>
                    <div class="btns-4">
                        <input type="text" id="email" name="email" placeholder="example@gmail.com">
                        <div class="espaco">
                            <label class="legais">Confirme sua senha:</label><br>
                            <input placeholder="******" type="password" id="senha2">
                        </div>
                    </div><br>

                    <button type="submit" class="botprosseguir">Cadastrar</button>
                </form>
            </div>

            <div class="botoes">
                <div class="cadeistro">
                    <h2>Já sou um Penteca!</h2>
                    <a href="/login" style="text-decoration: none;">
                        <h3>Vamos</h3>
                    </a>
                </div><br><br><br><br>
            </div>
        </main>
    </body>
</html>